@import "../../../styles/colors";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap");

.heroText {
    position: absolute;
    top: 42px;
    left: 10px;
}

.title {
    margin: 0;
    color: $main;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.subTitle {
    max-width: 160px;

    color: $main;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
