@import "../../../styles/colors";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap");

.readyForOrder {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $main;
    color: $background-one;

    h2 {
        margin: 0;
        margin-top: 10px;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
    }

    h3 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
    }
}
